/* Color Variables */
:root {
  --primary: hsl(322, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --greyishBlue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  font-family: "Open Sans", serif;
  font-size: 18px;
}

/******* Header Section CSS *****/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.78rem 4.17rem;
  font-family: "Open Sans", serif;
}

#logo img {
  max-width: 200px;
}

#tryItBtn button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-weight: 800;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

/**************** Hero Section Styling ****************/
#hero-section {
  width: 100vw;
  height: 960px;
  background-color: var(--veryPaleCyan);
  background-image: url("./images/bg-hero-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero-section img {
  max-width: 47vw;
  margin-top: 100px;
  margin-left: 16px;
}

#hero-text {
  width: 35vw;
  height: 28vh;
  margin-top: -105px;
}

#hero-header {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 3rem;
}

#hero-pera {
  margin-top: 28px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

#hero-button {
  margin-top: 46px;
  padding: 22px 56px;
  background-color: var(--primary);
  border: none;
  border-radius: 46px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

/************************* Tablets Design ***********************/
@media (min-width: 1024px) and (max-width: 1440px) {
  /******* Header Section CSS *****/
  #header {
    padding: 2.5rem 3.4rem;
  }

  #logo img {
    max-width: 11rem;
  }

  #hero-section img {
    max-width: 47vw;
    margin-left: 16px;
    margin-top: -30px;
  }

  #hero-text {
    width: 35vw;
    height: 28vh;
    margin-top: -105px;
    margin-left: 10px;
  }

  #hero-header {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 2rem;
  }

  #hero-pera {
    font-size: 1.05rem;
    line-height: 1.6rem;
  }

  #hero-button {
    font-size: 0.95rem;
  }
}

/************************* Mini Tabs and Mobile Design ***********************/
@media (max-width: 1023px) {
  * {
    font-size: 14px;
  }

  /******* Header Section CSS *****/
  #header {
    padding: 2rem;
    font-family: "Open Sans", serif;
  }

  #logo img {
    max-width: 124px;
  }

  #tryItBtn button {
    width: 120px;
    height: 32px;
    border-radius: 20px;
  }

  /**************** Hero Section Styling ****************/
  #hero-section {
    background-image: url("./images/bg-hero-mobile.svg");
    flex-direction: column;
    justify-content: space-evenly;
  }

  #hero-section img {
    margin-top: -36px;
    max-width: 65vw;
  }

  #hero-text {
    text-align: center;
    width: 80vw;
    height: 350px;
    margin-top: 10vh;
  }

  #hero-header {
    font-size: 1.9rem;
  }

  #hero-pera {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2.2rem;
  }

  #hero-button {
    margin-top: 46px;
    padding: 22px 56px;
    background-color: var(--primary);
    border: none;
    border-radius: 46px;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
  }
}
