/* Color Variables */
:root {
  --primary: hsl(322, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --veryPaleCyan: hsl(192, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --greyishBlue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  font-family: "Open Sans", serif;
  font-size: 18px;
}

/******* Header Section CSS *****/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 49px 67px;
  font-family: "Open Sans", serif;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

#logo img {
  max-width: 200px;
}

#tryItBtn button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  font-weight: 800;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

/**************** Hero Section Styling ****************/
#hero-section {
  width: 100%;
  min-height: 960px;
  background-color: var(--veryPaleCyan);
  background-image: url("./images/bg-hero-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

#hero-section img {
  max-width: 47vw;
  margin-top: 100px;
  margin-left: 16px;
}

#hero-text {
  width: 35vw;
  height: 28vh;
  margin-top: -105px;
}

#hero-header {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-size: 3rem;
  color: var(--veryDarkCyan);
}

#hero-pera {
  margin-top: 28px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

#hero-button {
  margin-top: 46px;
  padding: 22px 56px;
  background-color: var(--primary);
  border: none;
  border-radius: 46px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

/****************** Info Cards Styling ********************/
#info-cards {
  width: 100%;
  padding-top: 960px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 45px;
  align-items: center;
  z-index: 2;
}

.info-card {
  width: 75vw;
  padding: 36px;
  padding-left: calc(36px + 8vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

#info-card-2 {
  flex-direction: row-reverse;
}

.info-card-text {
  width: 32vw;
}

.info-card-text h2 {
  font-family: "Poppins", serif;
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--veryDarkCyan);
}

.info-card-text p {
  margin-top: 24px;
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--greyishBlue);
  line-height: 1.7rem;
}

.info-card-illustration {
  width: 35vw;
}

.info-card-illustration img {
  max-width: 30vw;
}

/************** Invite Card Styling *******************/
#invite-card {
  width: 55vw;
  height: 33vh;
  margin: 20vh auto -10vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-sizing: border-box;
}

#invite-card h2 {
  font-family: "Poppins", serif;
  font-size: 42px;
  font-weight: 800;
  color: var(--veryDarkCyan);
  text-align: center;
}

#invite-card button {
  width: 400px;
  height: 64px;
  background-color: var(--primary);
  border: none;
  border-radius: 46px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

/******************* Footer Styling ********************/
footer {
  width: 100vw;
  height: 600px;
  padding: 120px 120px 0px;
  margin: 0;
  background-color: var(--veryDarkCyan);
  box-sizing: border-box;
}

#footer-div {
  color: var(--veryPaleCyan);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

#footer-content {
  width: 100%;
  height: 240px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10vw;
  margin-top: 58px;
}

#contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contact {
  display: flex;
  align-items: start;
  gap: 28px;
}

img[src="./images/icon-location.svg"] {
  padding-top: 7px;
}

.contact img {
  width: 25px;
  height: 25px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.links a {
  text-decoration: none;
  color: var(--veryPaleCyan);
  font-weight: 700;
}

#medias {
  display: flex;
  justify-content: space-evenly;
  align-content: end;
}

#medias img {
  width: 28px;
  height: 28px;
  padding: 5px;
  margin: 0 10px;
  border: 1px solid var(--veryPaleCyan);
  border-radius: 50%;
  cursor: pointer;
}

#medias img:hover {
  background-color: var(--primary);
}

#copyright-text {
  align-self: end;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

/************************* Tablets Design ***********************/
@media (min-width: 1024px) and (max-width: 1440px) {
  /******* Header Section CSS *****/
  #header {
    padding: 45px 62px;
  }

  #logo img {
    max-width: 11rem;
  }

  /*************  Hero Section CSS Styling *****************/
  #hero-section img {
    max-width: 47vw;
    margin-left: 16px;
    margin-top: -30px;
  }

  #hero-text {
    width: 35vw;
    height: 28vh;
    margin-top: -200px;
    margin-left: 10px;
  }

  #hero-header {
    font-size: 2rem;
  }

  #hero-pera {
    font-size: 1.05rem;
    line-height: 1.6rem;
  }

  #hero-button {
    font-size: 0.95rem;
  }

  /****************** Info Cards Styling ********************/
  #info-cards {
    padding-top: 960px;
  }

  .info-card-text {
    width: 32vw;
  }

  .info-card-text h2 {
    font-size: 1.85rem;
  }

  .info-card-text p {
    font-size: 1.05rem;
    line-height: 1.6rem;
  }

  .info-card-illustration {
    width: 34vw;
  }

  /************** Invite Card Styling *******************/
  #invite-card {
    width: 60vw;
    height: 280px;
    margin: 15vh auto -7vh;
  }

  #invite-card h2 {
    font-size: 1.75rem;
  }

  #invite-card button {
    width: 360px;
  }

  /******************* Footer Styling ********************/
  footer {
    height: 800px;
    padding-top: 180px;
  }

  #footer-div {
    height: 600px;
  }

  #footer-content {
    height: 240px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: max-content auto;
    margin-top: 58px;
    grid-column-gap: 8vw;
    grid-row-gap: 160px;
  }

  .contact {
    width: 360px;
    gap: 24px;
  }

  #medias {
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
    align-content: end;
    grid-column: 1 / -1;
    justify-self: center;
  }

  #copyright-text {
    align-self: center;
    margin-top: auto;
  }
}

/************************* Mini Tabs and Large Mobile Design ***********************/
@media (max-width: 1023px) and (min-width: 700px) {
  * {
    font-size: 16px;
  }
  /* ****** Header Section CSS ****
  #header {
    padding: 36px;
  }

  #logo img {
    max-width: 124px;
  }

  #tryItBtn button {
    width: 120px;
    height: 32px;
    border-radius: 20px;
  } */

  /**************** Hero Section Styling ****************/
  #hero-section {
    background-image: url("./images/bg-hero-mobile.svg");
    flex-direction: column;
    justify-content: space-evenly;
  }

  #hero-section img {
    margin-top: -20px;
    max-width: 65vw;
  }

  #hero-text {
    text-align: center;
    width: 75vw;
    height: 350px;
    margin-top: 12vh;
  }

  #hero-header {
    font-size: 1.9rem;
  }

  #hero-pera {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2.2rem;
  }

  #hero-button {
    margin-top: 46px;
    padding: 22px 56px;
  }

  /****************** Info Cards Styling ********************/
  #info-cards {
    width: 100vw;
    padding-top: 960px;
    gap: 45px;
    align-items: center;
  }

  .info-card {
    width: 90%;
    min-height: 580px;
    padding: 25px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  #info-card-2 {
    flex-direction: column-reverse;
  }

  .info-card-text {
    width: 90%;
  }

  .info-card-text h2 {
    font-size: 1.8rem;
  }

  .info-card-text p {
    margin-top: 24px;
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  .info-card-illustration {
    width: 80%;
  }

  .info-card-illustration img {
    max-width: 65%;
  }

  /************** Invite Card Styling *******************/
  #invite-card {
    width: 540px;
    height: 180px;
    margin: 20vh auto -10vh;
    justify-content: space-evenly;
  }

  #invite-card h2 {
    font-size: 1.35rem;
  }

  #invite-card button {
    width: 220px;
    height: 48px;
  }

  /******************* Footer Styling ********************/
  footer {
    height: 800px;
    padding: 180px 75px;
  }

  #footer-div {
    height: 600px;
  }

  #footer-content {
    height: 240px;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: max-content auto;
    margin-top: 58px;
    grid-column-gap: 30px;
    grid-row-gap: 160px;
  }

  .contact {
    width: 300px;
    gap: 24px;
  }

  .links {
    justify-self: center;
  }

  #medias {
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
    align-content: end;
    grid-column: 1 / -1;
    justify-self: center;
  }

  #copyright-text {
    align-self: center;
    margin-top: auto;
  }
}


/************************* Mobile Design ***********************/
@media (max-width: 699px) {
  * {
    font-size: 14px;
  }

  /******* Header Section CSS *****/
  #header {
    padding: 32px 18px;
  }

  #logo img {
    max-width: 124px;
  }

  #tryItBtn button {
    width: 120px;
    height: 32px;
    border-radius: 20px;
  }

  /**************** Hero Section Styling ****************/
  #hero-section {
    background-image: url("./images/bg-hero-mobile.svg");
    flex-direction: column;
    justify-content: space-evenly;
  }

  #hero-section img {
    margin-top: 0;
    max-width: 70vw;
  }

  #hero-text {
    text-align: center;
    width: 75vw;
    height: 350px;
    margin-top: 12vh;
  }

  #hero-header {
    font-size: 1.9rem;
  }

  #hero-pera {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 2.2rem;
  }

  #hero-button {
    margin-top: 46px;
    padding: 16px 42px;
  }

  /****************** Info Cards Styling ********************/
  #info-cards {
    width: 100vw;
    padding-top: 960px;
    gap: 45px;
    align-items: center;
  }

  .info-card {
    width: 90%;
    min-height: 580px;
    padding: 10px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  #info-card-2 {
    flex-direction: column-reverse;
  }

  .info-card-text {
    width: 90%;
  }

  .info-card-text h2 {
    font-size: 1.8rem;
  }

  .info-card-text p {
    margin-top: 24px;
    font-size: 1.15rem;
    line-height: 1.9rem;
  }

  .info-card-illustration {
    width: 80%;
  }

  .info-card-illustration img {
    max-width: 65%;
  }

  /************** Invite Card Styling *******************/
  #invite-card {
    width: clamp(320px, 80%, 90%);
    height: 180px;
    margin: 20vh auto -10vh;
    justify-content: space-evenly;
  }

  #invite-card h2 {
    font-size: 1.2rem;
  }

  #invite-card button {
    width: 220px;
    height: 48px;
  }

  /******************* Footer Styling ********************/
  footer {
    width: 100vw;
    height: 800px;
    padding: 160px 20px 0;
  }

  #footer-content {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto;
    gap: 18px;
    margin-top: 28px;
  }

  #contacts {
    gap: 22px;
    margin-bottom: 30px;
  }

  .contact {
    display: flex;
    line-height: 1.7rem;
    align-items: start;
    gap: 20px;
  }

  .contact img {
    width: 20px;
    height: 20px;
  }

  .links {
    gap: 18px;
  }

  #medias {
    display: flex;
    justify-content: center;
    align-content: end;
  }

  #medias img {
    width: 24px;
    height: 24px;
    margin: 10px;
  }

  #copyright-text {
    align-self: center;
    margin-top: auto;
  }
}
